{{#partial "content"}}

    <div class="m-4">
        <p class="lead text-center">There will be no more vigilantes all superheroes must register with a squad</p>
    </div>

    <div class="m-5 d-flex justify-content-center">

        <a type="button" href="/squad/new" class=" m-1 btn btn-outline-primary">Add Squad</a>
        <a type="button" href="#" class=" m-1 btn btn-outline-primary">View Squads</a>

    </div>


{{/partial}}

{{> layout.hbs}}