{{#partial "content"}}

    <div class=" m-5 p-5 alert alert-success text-center" role="alert">
        Squad {{ this.squadName}} has been successfully Added
    </div>

{{/partial}}

{{> layout.hbs}}